#map-container{
    height: 95vh;
    width: 85vw;
    // z-index: -3;
    border: 2px solid rgb(122, 141, 70);
    border-top: none;
}
#body-container{
    display: flex;
    flex-direction: row;

}

#view-all-button {
    position: absolute;
    left: 2vw;
    top: 7vh;
    // bottom: 1vh;
    z-index: 10;
    height: 30px;
    width: 5%;
}