@import 'reset.scss';
@import 'header.scss';
@import 'body.scss';
*, h1, h2, h3, h4, h5, h6{
    font-family: 'Josefin Sans', sans-serif;;
}
body{
    border: 1px solid red;
}
.main-page{
    background-color: green;
}
input{
    background-color: red;
}


