.entry-index{
    .entry{
        height: 40px;
        margin: 10px;
        width: 30vw;
        border-bottom: 1px solid black;
        img{
            display:none;

        }
        h1{
            font-size: 30px;
        }
        padding: 20px 0px 20px 0px;

    }
}