.entity-index-container{
    width: 15vw;

    .entry-container{
        display: flex;
        flex-direction: row;
        height: 40px;
        margin: 10px;
        width: 15vw;
        border-bottom: 1px solid black;
        padding: 0px;
        margin: 0px;
        align-items: center;

        img{
            display:none;

        }
        button{
            display:none;
            border-radius: 8px;
            background-color: #A4BE5B;
            border: 2px solid rgb(140, 161, 81);
            color: #DDDEDE;
            height: 28px;
            opacity: 0;
        }
        h1{
            font-size: 30px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding-top: 15px;
            padding-left: 10px;
            padding-bottom: 0px;
        }
        padding: 0px 0px 20px 0px;
    }
    .trip-container{
        display: flex;
        flex-direction: row;
        height: 100px;
        margin: 10px;
        width: 15vw;
        border-bottom: 1px solid black;
        padding: 0px;
        margin: 0px;
        align-items: center;

        img{
            display:none;

        }
        button{
            display:none;
            border-radius: 8px;
            background-color: #A4BE5B;
            border: 2px solid rgb(140, 161, 81);
            color: #DDDEDE;
            height: 28px;
            opacity: 0;
        }
        h1{
            font-size: 30px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding-top: 15px;
            padding-left: 10px;
            padding-bottom: 0px;
        }
        padding: 0px 0px 20px 0px;

    }
    
    .entry-container:hover{
        transition-duration: 0.5s;
        width: 23vw;
        background-color: #c2c0c0;
        button{
            transition-duration: 3s;
            transition-delay: 1s;
            display:block;
            opacity: 100;
            
        }
        h1{
            width: 15vw;
        }

        .trip-container:not( :hover ){
            transition-duration: 0.5s;
            width: 15vw;
        }
    }

    .trip-container:hover{
        transition-duration: 0.5s;
        width: 23vw;
        background-color: #c2c0c0;
        button{
            transition-duration: 3s;
            transition-delay: 1s;
            display:block;
            opacity: 100;
            
        }
        h1{
            width: 15vw;
        }

        .trip-container:not( :hover ){
            transition-duration: 0.5s;
            width: 15vw;
        }
    }
}
.entity-index-container:hover{
    transition-duration: 1s;
    width: 23vw;
}
.entity-index-container:not(:hover){
    transition-duration: 1s;
    width: 15vw;
}
