.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #2B3032;
    z-index: 600;
    opacity: .5;
  }
  
  .modal-child {
    position: absolute;
     background-color: rgb(232, 198, 119);   
    // box-shadow: 1px 1px 1px #DDDEDE, 1px 1px 1em #A4BE5B;
    border: 10px solid rgb(184, 156, 92);
    border-radius: 16px;
    z-index: 600;
    top: 15vw;
    left: 50vh;
    // transform: translate(-50%, -50%);
    height: 50vh;
    width: 50vw;
  }

.form_modal_container {
  padding: 10px;
  // text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  form {
    height: 100%;
  }
      input[type=text]{
        width: 224px;
        height: 38px;
        border-radius: 8px;
        border: 3px solid #809448;
        background-color: #d1dbb6;
        text-indent: 10px;
      }
      textarea{
        width: 224px;
        height: 38px;
        border-radius: 8px;
        border: 3px solid #809448;
        background-color: #d1dbb6;
        text-indent: 10px;
      }
      
      

}