.show-container{
    transition-delay: 3s;
    transform-style: preserve-3d;
    margin: 10px 0px 10px 17px;
    // background-color: rgb(218, 216, 216);
    background-image: url('../assets/pages.jpg');
    background-size:contain;
    height: 95%;
    width: 95%;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    .h1{
        width: 85%;
        margin-left: 15px;
        padding-top: 15px;
        font-size: 45px;
        background: transparent;
        border: none;
        fill: none;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    h2{
        padding-bottom: 10px;
        margin-left: 18px;
        font-size: 10px;
        width: 85%;
        border-bottom: 1px solid black;
    }
    .h2{
        margin-left: 18px;
        font-size: 15px;
        width: 55%;
        border-bottom: 1px solid black;
        background: transparent;
        border-top: none;
        border-right: none;
        border-left: none;
    }
    button{
        display: none;
        width: 38%;
        height: 43%;
        margin: 2%;
        background-color: #9cb459;
        color: #2B3032;
        border-radius: 3px;
        border: 1px solid rgb(122, 141, 70);
        font-size: 15px;
        text-justify: inter-cluster;
        text-align: center;
        text-indent: center;
        margin-left: 10px;
        }
    button:hover{
        border: 2px solid rgb(122, 141, 70);
    }
    textarea{
        margin-top: 16px;
        margin-left: 15px;
        font-size: 23px;
        width: 85%;
        height: 40%;
        background: transparent;
        border: none;
        fill: none;
    }
    div{
        width: 35vw;
        // height: 45vw;
        img{
            border-radius: 6px;
            width: 45%;
            border: 8px solid white;
            border-bottom: 32px solid white;
            object-fit:cover;
            transform: (rotate(20deg));
            position: absolute;
            right: -5px
        }
    }   
}
// .pop-up{
//     // object-fit: contain;
// }