.trip-container {
    background-color: rgb(147, 170, 85);
    transition-duration: .5s;
    border-bottom: 2px solid rgb(122, 141, 70);
    input {
        background: transparent;
        border: none;
        transition-duration: .5s;
        padding: 10px;
        font-size: 25px;
        width: 75%;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: 300;
    }
        button{
            display: none;
            width: 38%;
        height: 43%;
        margin: 2%;
        background-color: #9cb459;
        color: #2B3032;
        border-radius: 3px;
        border: 2px solid rgb(122, 141, 70);
        font-size: 15px;
        text-justify: inter-cluster;
        text-align: center;
        text-indent: center;
        }
    .trip-entry-item-container{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        // transition-duration: .5s;
         height: 40px;
        z-index: 1;
        margin-left: 5px;
        border-top: 1px solid #2B3032;
        border-left: 1px solid #2B3032;
        background-color: #9cb459;
        transition-duration: .1s;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        div{
            display: flex;
            flex-direction: row;
        }
         h1 {
            // padding-left: 5px;
            transition-duration: .5s;
            padding-top: 10px;
            font-size: 25px;
            width: 30%;
            font-weight: 200;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-left: 5px
        }
    }
    .hidden{
        display: none;
    }
}

.trip-container:focus + .entities-container{
    transition-duration: 1s;
    display: flex;

}
.trip-container > .trip-entry-item-container:focus{
    display: flex;
    background-color: #A4BE5B;
    cursor: pointer;
    
}
.trip-container:hover{
    cursor: pointer;
    transition-duration: .5s;
    // height: 100px;
    width: 100%;
    border-bottom: 1px solid rgb(83, 83, 83);
    background-color: #A4BE5B;
    
    input {
        background: transparent;
        border: none;
        transition-duration: .5s;
        width: 75%;
        width: inherit;
    }
    button{
        display: flex;
        transition-duration: .5s;
    }
    #trip-buttons{
        display: flex;
        flex-direction: row;
    }
    .trip-entry-item-container:hover{
        cursor: pointer;
        border: 1px solid #2B3032;
    // transition-duration: .3s;
    // height: 40px;
    z-index: 1;
    background-color: #889e49;
    transition-duration: .1s;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    }
}
